:root {
  --unit: 52px;
  --gap: 4px;
  --radius: 4px;
  --radius-lg: 10px;

  /* Notes:
  - Although we're keeping the hue, the landed hue will be different since some hues are unrepresentable given the current light (L).
  - Accent's saturation is ~56%, so we can build a saturation ladder down for the other colors.
  - Light values are calculated backwards based on the contrast we're looking for (I've tried to use clean numbers, but it's impossible).
  */
  --accent: #ccdf8d;
  --bg: hsl(from var(--accent) h calc(s / 3) 7%);
  --text: hsl(from var(--accent) h calc(s / 2) 85%);
  --key-border: hsl(from var(--accent) h calc(s / 5) 20%);
  --input-border: color-mix(in srgb, var(--accent) 35%, transparent);
  --accent-glow: color-mix(in srgb, var(--accent) 50%, transparent);

  --font-sans:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  --font-size: 18px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  font-family: var(--font-sans);
  font-size: var(--font-size);
  color: var(--text);
  background-color: var(--bg);
}

#container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

#input {
  width: 50%;
  height: 40px;
  padding: 6px 12px;
  font-family: var(--font-sans);
  font-size: var(--font-size);
  color: var(--text);
  outline: none;
  background-color: var(--bg);
  border: 1px solid var(--input-border);
  border-radius: var(--radius);
}

#input:focus {
  border-color: var(--accent);
  box-shadow: 0 0 0 1px var(--accent-glow);
}

#keyboard {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: 12px;
  border-radius: var(--radius-lg);
}

.row {
  display: flex;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--width, 1) * var(--unit) - var(--gap));
  height: calc(var(--unit) - var(--gap));
  padding: 4px;
  margin: calc(var(--gap) / 2);
  line-height: 20px;
  color: var(--text);
  user-select: none;
  border: 1px solid var(--key-border);
  border-bottom-width: 2px;
  border-radius: var(--radius);
}

.key.active {
  color: var(--bg);
  background-color: var(--accent);
  border-color: var(--accent);
  box-shadow: 0 0 4px var(--accent-glow);
}
